* {
    box-sizing: border-box;
}

header{
    width: 100%;
     padding: 3px; 
    margin-bottom: 42px;
    margin-bottom: 3%;
    
}
#h1 img{
  display: inline-block;
  float: left;
  margin-right: 1%;
  
}
#h1 p{
  font-family:'Yellowtail', cursive;
}



.slash {
  background-image: url("/img/hr-img.png");
  height: 20px;
}

#h2{
  
  float:right
}

#h3{
    margin-bottom: 1%;
  }

#h3 img{
  display: inline-block;
  float: right;
  
}


#text{
  color: gray;
  border: inherit;
  padding: 4%;
  text-align: justify;
  text-indent: 30px;
  line-height: 20px;
  margin-bottom: 3%;
  clear: both;
}

#text :first-child{
  margin-bottom: 3%;
} 

#text :last-child{
  margin-top: 3%;
}


#listm div {
   /* list-style-type: none;  */
  width: 100%;
  size: 30%;
  padding: 0px;
  margin-top: 0%;
  margin-bottom: -15%;
  float: left;
}


#list1{
  float: left;
  width: 16em;
  margin-right: 40em;
  
  margin-bottom: 0;


}

 
#listm{
  width: 100%;
}

#list2{
 
  
  width: 16em;
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
  float: right;
  margin-right: 20em;
  

}






#amanda1{
 
  clear: both;
  margin-left: 1%;
  margin-bottom: 20%;

}

#amanda1 p{
  margin-left: 1%;
  padding: 10%;
  margin-top: -17%;
  color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
 
}
#amanda1 img{
 margin-top: 10%;


}


button{

  color: white;
  background-color: red;
  margin-left: 80%;
  border-color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

} 

#left{
  margin-top: -33%;
  margin-bottom: 10%;
 
}

 
footer{
  clear: both;
  margin-top: -3%;
 text-align: center;
 color: gray;

 
hr.type_5 {
  /* border: 0; */
  height: 20px;
  background-image: url("/image/hr-img.png");
  /* background-repeat: no-repeat;
  */
}


     
footer p{
  line-height: 30px;
  color: gray;
} */

 


